
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant.ai</title>
    

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <!-- Font awsm -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Custome Css -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">


</head>
<body>

<div class="navigation">
  <ul>
    <li class="space"><a href="/">
      <span class="icon1"></span>
      <span class="title"><img src="{% static 'img/logo1.png' %}" alt="Retinopathy" width="150" height="37"></span></a>
    </li>
    <li class="space"><a href="">
      <span class="icon"></span>
      <span class="title"></span></a>
    </li>
    <li class="active"><a href="/">
      <span class="icon"><i class="fa fa-pie-chart" aria-hidden="true"></i></span>
      <span class="title">Dashboard</span></a>
    </li>
    <li ><a href="#">
      <span class="icon"><i class="fa fa-file-image-o" aria-hidden="true"></i></span>
      <span class="title">Plant Diseas</span></a>
    </li>
  </ul>
</div>

<div class="container1">

  <ul>
    <li class="space">
      <span class="icon"></span>
      <span class="title"> <b>Upload</b> Image</span> <br>
      <span class="pack">*Upload Plant Image</span>
    </li>
    </ul>


    <!-- Upload  -->
    <div class="formsec">
    <form id="file-upload-form" class="uploader" method="post" enctype="multipart/form-data">
        {% csrf_token %}
      <input id="file-upload" type="file" name="document" accept="image/*" />

        <label for="file-upload" id="file-drag">
          <img id="file-image" src="#" alt="Preview" class="hidden">
          <div id="start">
            <i class="fa fa-download" aria-hidden="true"></i>
            <div>Select a image or drag here</div>
            <div id="notimage" class="hidden">Please select an image</div>
            
          </div>
          <div id="response" class="hidden">
            <div id="messages"></div>
            <progress class="progress" id="file-progress" value="0">
              <span>0</span>%
            </progress>
          </div>
        </label>

        
        <center>
        <input type="submit" value="Detect" name="submit" id="file-upload-btn" class="btn btn-primary">
          <br>
        
      </center>
    </form>
  </div>

  <!-- End of upload -->


  
</div>  

    <script src="{% static 'js/main.js' %}"></script>


    
</body>

</html>